<style>
  .searching {
    color: blue;
    font-size: 10px;
    padding-top: 6px;
  }
  .goodresults {
    color: #090;
    background: #efffef;
  }

  .result-label {
    font-size: 8px;
  }

  .weakresults {
    color: orange;
    background: #ffffef;
  }

  .badresults {
    color: red;
    background: #ffefef;
  }
</style>

<div
  [class.goodresults]="status.searchResults.options > 3"
  [class.weakresults]="status.searchResults.options >= 1 && status.searchResults.options <= 3"
  [class.badresults]="status.searchResults.options == 0"
  [class.searching]="status.isSearching"
  >
  <div *if="showSpinner()">
    ...
  </div>
  <div *if="showTime()" (click)="cellClicked()" class="time">
    {{hour}}:00
  </div>
  <div *if="showSearchResults()">
    <div>{{status.searchResults.options}}</div>
    <div class="result-label">results</div>
  </div>
</div>
