<style>
  table {
    border-right: 2px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .day-header {
    border: 1px solid gray;
    white-space: nowrap
  }

  .day-header:hover {
    cursor: pointer;
  }

  .hour-cell {
    width: 120px;
    text-align: center;
    border-left: 1px solid gray;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    height: 30px;
    padding: 0;
  }

  .hour-cell > div {
    height: 100%;
  }

  .hour-cell .time {
    padding-top: 10px;
  }

  .hour-cell .searching {
    color: blue;
    font-size: 12px;
    padding-top: 12px;
  }

  .hour-cell .good-results {
    color: #090;
    background: #efffef;
  }

  .hour-cell .weak-results {
    color: orange;
    background: #ffffef;
  }

  .hour-cell .bad-results {
    color: red;
    background: #ffefef;
  }
</style>

<div class="calendar">
 <button class="btn" *if="!isLoaded" (click)="load()">Load</button>
 <button class="btn" *if="isLoaded"  (click)="searchAll()">Search Whole Month</button>
 <table *if="isLoaded">
  <tr>
    <th template="foreach: #day in days" class="day-header" (click)="dayHeaderClicked(day)">
     {{day}}
   </th>
  </tr>
  <tr template="foreach: #hour in hours">
   <td template="foreach: #day in days" class="hour-cell">
     <calendar-cell [hour]="hour" [day]="day" />
   </td>
  </tr>
 </table>
</div>
